
#main{
    display: flex;
    gap: 10px;
}
#outputarea{
    border: 1px solid black;
    height: 550px;
    max-width: 950px;
    width: 100%;
}
#inputarea{
    max-width: 950px;
    height: 550px;
    width: 100%;
    background-color: transparent;
}
h3{
    background-color: burlywood;
    padding: 20px;
    text-align: center;
}
#card{
    border: 1px solid red;
    padding: 15px;
    background-color: antiquewhite;
}

button{
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 50%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}